<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electronics & Communication Engineering Department </title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

<div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item spanitem">
        <img class="cetlogo" src="../static/images/logo.png">
        <h3 class="logotext">College of Engineering Trikaripur</h3>
    </div>
    <div class="grid-item">3</div>
    <div class="grid-item spanitem">
        <a href="/layout">
            <img class="mainicon" src="../static/images/icon/location_4315546.png" alt="layout Icon" style="width: 50px;">
        <h2>
            Layout
        </h2></a>
    </div>
    <div class="grid-item spanitem">
        <a href="/faculty">
            <img class="mainicon" src="../static/images/icon/teacher_3307318.png" alt="faculty Icon">
        <h2>
            Faculties
        </h2></a>
    </div>
    <div class="grid-item center spanitem">
        <h2>
            Electronics & Communication Engineering Department </strong>

        </h2>
        
    </div>
    <div class="grid-item spanitem ">
        <a href="/lab">
            <img class="mainicon" src="../static/images/icon/monitor_3474360.png" alt="layout Icon">    
        <h2>
            Lab Facilities
        </h2>
    </a>
    </div>
    <div class="grid-item spanitem">
        <a href="/students">
            <img class="mainicon" src="../static/images/icon/svg_13400316.png" alt="Students Icon">
            <h2>
                Students
            </h2></a>
    </div>
    <div class="grid-item spanitem">
        <h3>Department Information System</h3>
        
    </div>
    <div class="grid-item">10</div>
    <div class="grid-item">11</div>
</div>

</body>
</html>
