<!DOCTYPE html>
<html lang="english">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE Dept | Faculties</title>
      <link rel="stylesheet" href="../static/faculty.css">
  </head>

  <!--...-->
  <body>
    <div class="mainsec">
      <a href="/"><img class="backbutton" src="../static/images/arrow.svg" alt=""></a>
      <img src="../static/images/logo.png">
      <h3>College of Engineering Trikaripur</h3>
      <div class="textdiv">
        
          <!--Glitch-->
          <div class="hero-container">
            <h2 class="hero glitch layers" data-text="Faculties"><span>Faculties</span></h2>
         </div>
          <!--Glitch-->
        
      </div>
      <h3>Department of Computer Science &amp; Engineering</h3>
    </div>

    <!-- cards-->
    <div class="container">
    
    {% for faculty in faculties%}
    <div onclick="openPopup('m{{faculty[0]}}')" class="card a">
      <div class="content">
        <img class="poster" src="../static/images/{{faculty[1]}}.jpg">
        <div class="cardbottom">
          <h4> {{faculty[1]}} </h4>
          <p> {{faculty[9]}} </p>
          <img class="arrow" src="../static/images/arrow.svg";>
        </div>
      </div>
    </div>

    <div id="m{{faculty[0]}}" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div id="id01" class="popcard" >
          <div class="popcol1" ID="leftdiv"  >
            <div style="padding-bottom: 100%;"></div> <!-- this keeps the aspect ratio 1:1 and makes the placeholder square -->
            <img class="popimg column photo" src="../static/images/{{faculty[1]}}.jpg" alt="Placeholder image" >
          </div>
          <div class="popcol2" id="rightdiv">
            
          <div class="column details">
              <p><strong>Name:</strong>{{faculty[1]}}</p>
              <p><strong>DOJ:</strong>{{faculty[3]}}</p>
              <p><strong>E-Mail ID:</strong>{{faculty[4]}}</p>
              <p><strong>Mobile:</strong> {{faculty[5]}}</p>
              <p><strong>Qualification:</strong>{{faculty[6]}}</p>
              <p><strong>Professional Experience: </strong>{{faculty[7]}}</p>
              <p><strong> Area of Interest: </strong>{{faculty[8]}}</p>
          </div>
            <div class="popbtndiv">
              <button onclick="closePopup('m{{faculty[0]}}')" class="popbtn1" >✖ Back</button>
              
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endfor %}
    </div>

    <!-- modals -->



  <script>
  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }
  
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
    }
  }
  
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);     
      }
    }
    element.className = arr1.join(" ");
  }
  
  // Add active class to the current button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function(){
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }

  function openPopup(popupId) {
  document.getElementById(popupId).style.display = "flex";
}

function closePopup(popupId) {
  document.getElementById(popupId).style.display = "none";
}
</script>
  
  </body>
</html>


