<!DOCTYPE html>
<html lang="english">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department Projects | CSE Dept.</title>
      <link rel="stylesheet" href="../static/faculty.css">
  </head>

  <!--...-->
  <body>
    <div class="mainsec">
      <div class="textdiv">
        
          <!--Glitch-->
          <div class="hero-container">
            <h2 class="hero glitch layers" data-text="Faculties"><span>Faculties</span></h2>
         </div>
          <!--Glitch-->
        
      </div>
    </div>

    <!-- cards-->

    <div class="container">

      <div class="filterDiv cse">
        <div onclick="openPopup('m1')" class="card a">
          <div class="content">
            <img class="poster" src="../static/images/posters/e1.jpg">
            <div class="cardbottom">
              <h4>Inqua <span>'23</span></h4>
              <img class="arrow" src="../static/images/arrow.svg";>
            </div>
          </div>
        </div>
      </div>

      <div class="filterDiv cse">
        <div onclick="openPopup('m2')" class="card a">
          <div class="content">
            <img class="poster" src="../static/images/posters/e2.jpg">
            <div class="cardbottom">
              <h4>Inqua <span>'23</span></h4>
              <img class="arrow" src="../static/images/arrow.svg";>
            </div>
          </div>
        </div>
      </div>

      

      

      

    
      
    </div>






    <!-- modals -->

    <div id="m1" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div id="id01" class="popcard" >
          <div class="popcol1" ID="leftdiv"  >
            <div style="padding-bottom: 100%;"></div> <!-- this keeps the aspect ratio 1:1 and makes the placeholder square -->
            <img class="popimg" src="./assets/posters/e1.jpg" alt="Placeholder image" style="">
          </div>
          <div class="popcol2" id="rightdiv">
            <h2>CoDuo</h2>
            
            <p>Team of 2 where participants compete as pairs. One starts the code and other finishes the code without prior knowledge of the initial code. Meaningful executable code will be declared most compatible coders.
              <br>
              <br>
              Finish your partners code and show off your coding compatibility....</p>
              <br class="hidres"><br class="hidres"><br class="hidres"><br class="hidres"><br class="hidres"><br class="hidres"><br class="hidres"><br class="hidres">
            <div class="popbtndiv">
              <button onclick="closePopup('m1')" class="popbtn1" >✖ Back</button>
              <button class="popbtn2" >Register ➜</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="m2" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div id="id01" class="popcard" >
          <div class="popcol1" ID="leftdiv"  >
            <div style="padding-bottom: 100%;"></div> <!-- this keeps the aspect ratio 1:1 and makes the placeholder square -->
            <img class="popimg" src="./assets/posters/e2.jpg" alt="Placeholder image" style="">
          </div>
          <div class="popcol2" id="rightdiv">
            <h2>Blind Coding </h2>
            
            <p>Your knack of writing simple code and passion to beat others by your programming skills can get you the champion...
              <br>
              <br>
              Here each participant has to write the code for the given problem with the monitor off. The code with desired output will be declared winner. </p>
              <br class="hidres"><br class="hidres"><br class="hidres"><br class="hidres"><br class="hidres"><br class="hidres"><br class="hidres"><br class="hidres">
            
            <div class="popbtndiv">
              <button onclick="closePopup('m2')" class="popbtn1" >✖ Back</button>
              <button class="popbtn2" >Register ➜</button>
            </div>
          </div>
        </div>
      </div>
    </div>



  <script>
  filterSelection("all")
  function filterSelection(c) {
    var x, i;
    x = document.getElementsByClassName("filterDiv");
    if (c == "all") c = "";
    for (i = 0; i < x.length; i++) {
      w3RemoveClass(x[i], "show");
      if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
    }
  }
  
  function w3AddClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
    }
  }
  
  function w3RemoveClass(element, name) {
    var i, arr1, arr2;
    arr1 = element.className.split(" ");
    arr2 = name.split(" ");
    for (i = 0; i < arr2.length; i++) {
      while (arr1.indexOf(arr2[i]) > -1) {
        arr1.splice(arr1.indexOf(arr2[i]), 1);     
      }
    }
    element.className = arr1.join(" ");
  }
  
  // Add active class to the current button (highlight it)
  var btnContainer = document.getElementById("myBtnContainer");
  var btns = btnContainer.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function(){
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
    });
  }

  function openPopup(popupId) {
  document.getElementById(popupId).style.display = "flex";
}

function closePopup(popupId) {
  document.getElementById(popupId).style.display = "none";
}
</script>
  
  </body>
</html>


