<!DOCTYPE html>
<html>
<head>
  <title>Department Layout</title>
  <link rel="stylesheet" href="../static/faculty.css">
</head>
<body>
  <div class="department">
    <h1>Department Name</h1>
    <div class="sub-heading">Head of Department</div>
    <div class="profile">
      <img class="profile-pic" src="hod.jpg" alt="HOD">
      <div class="profile-name">HOD Name</div>
    </div>
    <div class="sub-heading">Staff Members</div>
    <div class="profile">
      <img class="profile-pic" src="staff1.jpg" alt="Staff 1">
      <div class="profile-name">Staff 1 Name</div>
    </div>
    <div class="profile">
      <img class="profile-pic" src="staff2.jpg" alt="Staff 2">
      <div class="profile-name">Staff 2 Name</div>
    </div>
    <div class="profile">
      <img class="profile-pic" src="staff3.jpg" alt="Staff 3">
      <div class="profile-name">Staff 3 Name</div>
    </div>
  </div>
</body>
</html>