<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE Department Information System</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

<div class="grid-container">
    <div class="grid-item">1</div>
    <div class="grid-item spanitem">
    <a href="/faculty"><h2>
        Faculties
    </h2></a>
    </div>
    <div class="grid-item">3</div>
    <div class="grid-item spanitem">
        <h2>
            Layout
        </h2>
    </div>
    <div class="grid-item spanitem">5</div>
    <div class="grid-item center spanitem">
        <h2>
            CSE Department Information System
        </h2>
    </div>
    <div class="grid-item spanitem ">
        <h2>
            Lab Facilities
        </h2>
    </div>
    <div class="grid-item spanitem">8</div>
    <div class="grid-item spanitem">
        <h2>
            Students
        </h2>
    </div>
    <div class="grid-item">10</div>
    <div class="grid-item">11</div>
</div>

</body>
</html>
